.main{
  position: relative;
  display: flex;
  background: black;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  justify-items: baseline;
}
.content{
  
   background-color: green;
   width: 100vw;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: flex-end;
}
.gotobottom{
    width: 20rem;
   
    
   
   
    
}
.height{
  
    height:2rem;
}